<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>436321025756-fdiqmkuifirip6g4pkj4nipc8edqufmi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.436321025756-fdiqmkuifirip6g4pkj4nipc8edqufmi</string>
	<key>API_KEY</key>
	<string>AIzaSyAf-XLxBWg7_EJnOXhJz8XAd8fhXN5mj0c</string>
	<key>GCM_SENDER_ID</key>
	<string>436321025756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.www.HellowMyFriends1</string>
	<key>PROJECT_ID</key>
	<string>share-life-project</string>
	<key>STORAGE_BUCKET</key>
	<string>share-life-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436321025756:ios:ce39f2e896d69ca8</string>
	<key>DATABASE_URL</key>
	<string>https://share-life-project.firebaseio.com</string>
</dict>
</plist>