<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>443870567427-jt5khugn8et568fo5vit45nq043ason1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443870567427-jt5khugn8et568fo5vit45nq043ason1</string>
	<key>API_KEY</key>
	<string>AIzaSyAY3n1k_YuVpyOzrBf2ze4v6Joi_0SfMww</string>
	<key>GCM_SENDER_ID</key>
	<string>443870567427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.www.HellowMyFriends1</string>
	<key>PROJECT_ID</key>
	<string>hellomyfriends-7f6ec</string>
	<key>STORAGE_BUCKET</key>
	<string>hellomyfriends-7f6ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443870567427:ios:ce39f2e896d69ca8</string>
	<key>DATABASE_URL</key>
	<string>https://hellomyfriends-7f6ec.firebaseio.com</string>
</dict>
</plist>