<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>141562144883-arklhfrsvgbvrdqeqvdjjfp3kgh7u0do.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141562144883-arklhfrsvgbvrdqeqvdjjfp3kgh7u0do</string>
	<key>API_KEY</key>
	<string>AIzaSyBEyaGuADJiQvBwAKCqN95FCOSg7pY6n_w</string>
	<key>GCM_SENDER_ID</key>
	<string>141562144883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.www.HellowMyFriends2</string>
	<key>PROJECT_ID</key>
	<string>share-life-1</string>
	<key>STORAGE_BUCKET</key>
	<string>share-life-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141562144883:ios:f122ee03108f92ba</string>
	<key>DATABASE_URL</key>
	<string>https://share-life-1.firebaseio.com</string>
</dict>
</plist>